body {
    font-family: 'Mulish', Verdana, 'Roboto', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: #121212;
    background-color: #fff;
    padding: 0;
    margin: 0;
}
* {
    box-sizing: border-box;
}

.full-flex-container {
    display: flex;
    column-gap: 1rem;
    align-items: center;
    width: 100%;
}
.flex-container {
    display: flex;
    column-gap: 1rem;
    align-items: center;
    max-width: 60rem;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    row-gap: 1rem;
}
@media screen and (max-width: 60rem) {
    .flex-container {
        flex-wrap: wrap;
        max-width: 100%;
        padding: 1rem;
    }
}

.flex-container.space-between {
    justify-content: space-between;
    width: 100%;
    column-gap: 1rem;
}
.flex-container.top {
    align-items: flex-start;
}

.space {
    margin-bottom: 1rem;
    display: block;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

span.turquoise {
    color: #1EA59A;
}

header {
    height: 3.5rem;
    background-color: #fff;
    line-height: 3rem.5;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.05);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
header .header-logo {
    max-height: 2.5rem;
}
header .header-logo img {
    max-height: 2.5rem;
    height: 100%;
}

/* main {
} */

.banner {
    padding: 6rem 0 4rem;
    /* center logo vertically in it */
    display: flex;
}
.banner .banner-text {
    margin: auto;    
}
.banner .banner-text h1 {
    font-size: 3.5rem;
    margin: 0 0 1rem;
}
.banner .banner-text p {
    font-size: 1.375rem;
    margin: 0 0 1rem;
}

.call-to-action h2 {
    font-size: 2rem;
}
.call-to-action p {
    font-size: 1rem;
    margin: 0 0 1rem;
}
.cta-content {
    padding: 3rem 0;
}

a, a:visited {
    text-decoration: none;
}
.cta-button {
    background-color: #1EA59A;
    color: #fff;
    height: 2.5rem;
    line-height: 2.5rem;
    display: inline-block;
    padding: 0 1.5rem;
    border-radius: 0.5rem;
    transition: all 0.2s ease-in-out;
}
.cta-button:hover, .cta-button:focus {
    background-color: #3EC5BA;
}

.card {
    max-width: 15rem;
    width: 100%;
    border-width: 1px;
    border-style: solid;
    border-color: #B4D3D1;
    border-radius: 1rem;
    overflow: hidden;
    margin-bottom: 1rem;
}
@media screen and (max-width: 60rem) {
    .card {
        margin: 0 auto;
    }
}
.card .card-image {
    height: 20rem;
    line-height: 10rem;
    overflow: hidden;
}
.card .card-image img {
    min-width: 100%;
}
.card .card-content {
    padding: 1rem;
}

footer {
    background-color: #263238;
    color: #fff;
    padding: 4rem 0 6rem;
}
footer .footer-logo img {
    filter: invert(1);
    max-height: 2.5rem;
    height: 100%;
}
footer a, footer a:visited {
    color: #fff;
    font-size: 0.875rem;
    letter-spacing: 1px;
    padding: 0.125rem 0;
    margin: 0.25rem 0;
    display: inline-block;
    transition: all 0.2s ease-in-out;
}
footer a:hover, footer a:focus {
    color: #1EA59A;
}
footer ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
